@import url("https://fonts.googleapis.com/css2?family=BioRhyme+Expanded&family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme+Expanded&family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@font-face {
  font-family: remedy;
  src: local("C:/xampp/htdocs/ArisCatering/files/fonts/Funstuff-Bold.ttf.woff");
}

@font-face {
  font-family: "Funstuff-Bold";
  src: url("Funstuff-Bold.ttf.woff") format("woff"), url("Funstuff-Bold.ttf.svg#Funstuff-Bold") format("svg"), url("Funstuff-Bold.ttf.eot"), url("Funstuff-Bold.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CHAWP;
  src: url("chawp.otf");
  src: url("chawp.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Blenda Script";
  src: url("Blenda Script.otf");
}

@font-face {
  font-family: remedy;
  src: local("C:/xampp/htdocs/ArisCatering/files/fonts/Funstuff-Bold.ttf.woff");
}

@font-face {
  font-family: "Funstuff-Bold";
  src: url("Funstuff-Bold.ttf.woff") format("woff"), url("Funstuff-Bold.ttf.svg#Funstuff-Bold") format("svg"), url("Funstuff-Bold.ttf.eot"), url("Funstuff-Bold.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CHAWP;
  src: url("chawp.otf");
  src: url("chawp.ttf");
  font-weight: normal;
  font-style: normal;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  height: 3000px;
  overflow: hidden;
}

main .top-section {
  outline: 3px solid blue;
  background-color: #0000004d;
  width: 100%;
  min-width: 900px;
  display: flex;
}

@media screen and (max-width: 1000px) {
  main .top-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 300px;
  }
}

main .top-section .left-part {
  outline: 3px solid green;
  width: 50%;
  min-width: 300px;
  height: 450px;
  padding-top: 25px;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  main .top-section .left-part {
    width: 100%;
    padding-left: 0px;
    align-items: center;
  }
}

main .top-section .left-part .logo-block {
  outline: 3px solid red;
  display: flex;
}

main .top-section .left-part .logo-block .logo-text {
  width: 192px;
  width: 200px;
  margin-top: 34px;
  text-align: left;
  font: normal normal normal 65px/65px HucklebuckJF;
  letter-spacing: 0px;
  color: #f23816;
  opacity: 1;
  font-family: "Leckerli One", cursive;
}

@media screen and (max-width: 1200px) {
  main .top-section .left-part .logo-block .logo-text {
    font-size: 60px;
  }
}

@media screen and (max-width: 525px) {
  main .top-section .left-part .logo-block .logo-text {
    font-size: 32px;
  }
}

main .top-section .left-part .logo-block img {
  min-width: 150px;
  margin-bottom: 10px;
  margin-left: 30px;
}

main .top-section .left-part .aris-catering {
  outline: 3px solid red;
  text-align: left;
  font: normal normal normal 75px/68px HucklebuckJF;
  letter-spacing: 0px;
  color: #f23816;
  opacity: 1;
  font-family: "Leckerli One", cursive;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
}

@media screen and (max-width: 1200px) {
  main .top-section .left-part .aris-catering {
    font-size: 60px;
  }
}

@media screen and (max-width: 1000px) {
  main .top-section .left-part .aris-catering {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  main .top-section .left-part .aris-catering {
    font-size: 50px;
  }
}

main .top-section .left-part .aris-catering .header-subtext {
  text-align: left;
  font: normal normal normal 15px/22px BioRhyme Expanded;
  letter-spacing: 0px;
  color: #020100;
  opacity: 1;
  padding-top: 5px;
}

@media screen and (max-width: 1000px) {
  main .top-section .left-part .aris-catering .header-subtext {
    width: 100%;
    text-align: center;
  }
}

main .top-section .right-part {
  outline: 3px solid red;
  margin: 0 auto;
  width: 50%;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
}

main .top-section .right-part .header-text {
  text-align: center;
  font: normal normal normal 21px/35px BioRhyme Expanded;
  letter-spacing: 0px;
  color: #020100;
  opacity: 1;
  line-height: 1.6;
}

main .top-section .right-part .header-subtext {
  text-align: center;
  font: normal normal normal 15px/22px BioRhyme Expanded;
  letter-spacing: 0px;
  color: #020100;
  opacity: 1;
}

main .top-section .right-part .price {
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}

main .top-section .right-part .price .only {
  text-align: left;
  font: normal normal bold 63px/59px Times New Roman;
  letter-spacing: 0px;
  color: #f23816;
  opacity: 1;
}

main .top-section .right-part .price .dollars {
  text-align: left;
  font: normal normal bold 67px/57px Times New Roman;
  letter-spacing: 0px;
  color: #f23816;
  opacity: 1;
}

main .top-section .right-part .price .cents {
  text-align: left;
  font: normal normal bold 44px/61px Times New Roman;
  letter-spacing: 0px;
  color: #f23816;
  text-transform: lowercase;
  opacity: 1;
  position: relative;
  top: -17px;
  left: -5px;
}

main .top-section .right-part .price .asteric {
  text-align: left;
  font: normal normal bold 35px/62px Times New Roman;
  letter-spacing: 0px;
  color: #f23816;
  text-transform: lowercase;
  opacity: 1;
  position: relative;
  top: -25px;
  left: -10px;
}

main .top-section .right-part .phone-number {
  text-align: center;
  font: normal normal bold 54px/49px Times New Roman;
  letter-spacing: 0px;
  color: #f23816;
  opacity: 1;
  margin-top: 10px;
  margin-bottom: 15px;
}

main .menu-section {
  background-image: url("../images/blackboard2.jpg");
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 2200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

main .menu-section .menu-header {
  height: 76px;
  text-align: left;
  font: normal normal normal 60px/60px cursive;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  margin: 0 auto;
  margin-top: 124px;
  margin-bottom: 25px;
  width: 178px;
  height: 63px;
  text-align: left;
  font: normal normal normal 62px/60px CHAWP;
  font-family: CHAWP, cursive;
  letter-spacing: 0.62px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

main .menu-section .menu-item {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 146px;
}

main .menu-section .menu-item .day-header {
  text-align: left;
  font: normal normal normal 43px/60px Itim;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

main .menu-section .menu-item .meal-summary {
  margin-top: 5px;
  text-align: left;
  font: normal normal normal 62px/60px CHAWP;
  letter-spacing: 0.62px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  padding-bottom: 10px;
}

main .menu-section .menu-item .meal-content {
  width: 950px;
  text-align: left;
  font: normal normal normal 43px/60px Itim;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: lowercase;
  opacity: 1;
  line-height: 1;
}

main .menu-section .images {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
}

main .menu-section .images img {
  border: 10px solid white;
  position: absolute;
  border: 12px solid #ffffff;
  width: 50%;
}

main .menu-section .images #tape1 {
  width: 40px;
  z-index: 10;
  border: 0px;
  left: 200px;
  top: -50px;
  transform: matrix(0.98, -0.17, 0.17, 0.98, 0, 0);
}

main .menu-section .images #tape2 {
  width: 40px;
  z-index: 10;
  border: 0px;
  left: 550px;
  top: 35px;
  transform: matrix(0.99, 0.14, -0.14, 0.99, 0, 0);
}

main .menu-section .images #tape3 {
  width: 40px;
  z-index: 10;
  border: 0px;
  left: 850px;
  top: -50px;
}

main .menu-section .images #image1 {
  width: 358px;
  height: 361px;
  transform: matrix(0.99, 0.14, -0.14, 0.99, 0, 0);
  left: 40%;
  top: 100px;
  z-index: 2;
}

main .menu-section .images #image2 {
  width: 535px;
  height: 442px;
  transform: matrix(0.98, -0.17, 0.17, 0.98, 0, 0);
  left: -15px;
}

main .menu-section .images #image3 {
  width: 432px;
  height: 253px;
  left: 63%;
}

main .more-stuff {
  position: relative;
  top: -10px;
  display: none;
}

main .more-stuff .all-entrees {
  text-align: left;
  font: normal normal normal 62px/62px "Funstuff-Bold";
  font-family: "Funstuff-Bold", Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  color: #f23816;
  opacity: 1;
}

main .more-stuff .dollar-sign {
  position: relative;
  font: normal normal normal 46px/63px Arial;
  letter-spacing: -35px;
  color: #f23816;
  text-transform: lowercase;
  opacity: 1;
  top: -15px;
}

main .more-stuff .dollar-amount {
  position: relative;
  font: normal normal normal 62px/63px Arial;
  letter-spacing: -8px;
  color: #f23816;
  opacity: 1;
  left: 15px;
}

main .more-stuff .cents-amount {
  position: relative;
  font: normal normal normal 38px/63px Arial;
  letter-spacing: -3px;
  color: #f23816;
  text-transform: lowercase;
  opacity: 1;
  left: 15px;
  top: -15px;
}

main .more-stuff .happy {
  text-align: left;
  font: normal normal normal 18px/34px BioRhyme Expanded;
  letter-spacing: 0px;
  opacity: 1;
  margin-bottom: 15px;
}

main .more-stuff .pleased {
  text-align: left;
  font: normal normal normal 18px/34px BioRhyme Expanded;
  letter-spacing: 0px;
  color: #f23816;
}

main .more-stuff .phone-number {
  text-align: left;
  font: normal normal normal 56px/51px Epitaph;
  letter-spacing: 0px;
  color: #f23816;
  opacity: 1;
}

main .footer {
  background: #0000004d 0% 0% no-repeat padding-box;
  padding-top: 100px;
  padding-bottom: 40px;
}

main .footer .copy1 {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font: normal normal normal 20px/32px BioRhyme Expanded;
  letter-spacing: 0px;
  color: #f23816;
  padding-bottom: 30px;
  width: 1174px;
  text-align: center;
  font: normal normal normal 21px/30px BioRhyme Expanded;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

main .footer .copy2 {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font: normal normal normal 16px/28px BioRhyme Expanded;
  letter-spacing: 0px;
  color: #676462;
  opacity: 1;
  text-align: center;
  font: normal normal normal 17px/27px BioRhyme Expanded;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
/*# sourceMappingURL=menu1.css.map */