@import "common";

main {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    min-width: 300px;
    // height: 3000px;
    // background-color: #f2ed7733;
    // overflow: hidden;
    // padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    nav {
        // outline: 3px solid red;
        background-color: #e8e2d9;
        max-width: 1280pc;
        width: 100%;
        // min-width: 900px;
        margin-top: 0;
        height: auto; //500px;
        // padding-bottom: 25px;
        margin-bottom: 2px;
        display: flex;
        justify-content: flex-end;
        ul {
            // outline: 3px solid red;
            display: flex;
            justify-content: flex-end;
            list-style: none;
            li {
                padding-right: 29px;
            }
        }
    }

    .top-section {
        // outline: 3px solid blue;
        // margin: 0 auto;
        background-color: #e8e2d9;
        max-width: 1280pc;
        width: 100%;
        // min-width: 900px;
        margin-top: 0;
        height: auto; //500px;
        padding-bottom: 25px;
        // width: 1280px;
        // padding-left: 100px;
        // padding-right: 100px;

        header {
            // outline: 3px dotted red;
            margin: 0 auto;
            width: 84%;
            @include max-width-mixin(900px) {
                width: 90%;
            }

            @include max-width-mixin(350px) {
                width: 95%;
            }

            // width: 1074px;
            height: auto; //500px;

            display: flex;
            @include max-width-mixin(750px) {
                flex-direction: column;
            }

            .box {
                // outline: 3px solid red;
            }

            .box1 {
                // outline: 3px solid red;
            }

            .left-side {
                // outline: 3px dashed red;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin-top: 41px;
                @include max-width-mixin(350px) {
                    padding-left: 10px;
                }

                .cookin-and-logo1 {
                    // outline: 3px solid blue;
                    display: grid;
                    grid-template-areas:
                        "cookin	logo	blank"
                        "cookin	logo	blank"
                        "cookin	logo	blank"
                        "catering	catering	catering";

                    justify-content: center;
                    justify-self: center;

                    .cookin {
                        // outline: 3px solid red;
                        grid-area: cookin;

                        padding-left: 0;
                        position: relative;
                        // width: 200px;

                        text-align: left;
                        font: normal normal normal 50px/50px Blenda Script;
                        letter-spacing: 0px;
                        color: #000000;
                        opacity: 1;

                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        padding-bottom: 5px;

                        .cookin1 {
                            line-height: 1.1;
                        }

                        @include max-width-mixin(1200px) {
                            font-size: 45px;
                        }
                        @include max-width-mixin(1100px) {
                            font-size: 40px;
                            line-height: 1.3;
                        }
                        @include max-width-mixin(960px) {
                            font-size: 35px;
                        }
                        @include max-width-mixin(820px) {
                            font-size: 33px;
                            padding-bottom: 5px;
                        }
                        @include max-width-mixin(820px) {
                            // font-size: 28px;
                        }
                        @include max-width-mixin(750px) {
                            font-size: 52px;
                            line-height: 1.2;
                            .cookin1 {
                                line-height: 1;
                            }
                            padding-bottom: 5px;

                        }
                        @include max-width-mixin(600px) {
                            font-size: 45px;
                        }
                        @include max-width-mixin(500px) {
                            width: 70%;
                            font-size: 38px;
                            padding-bottom: 0;
                            padding-top: 0;
                        }
                    }

                    .logo {
                        // outline: 5px solid blue;
                        grid-area: logo;

                        // margin-top: 34px;
                        align-self: end;
                        // width: 200px;
                        min-width: 100px;
                        // padding-right: 150px;

                        @include max-width-mixin(1000px) {
                            width: 180px;
                        }
                        @include max-width-mixin(900px) {
                            // width: 50%;
                            // padding-right: 300px;
                        }
                        @include max-width-mixin(800px) {
                            // padding-right: 150px;
                        }
                        @include max-width-mixin(600px) {
                            // padding-right: 100px;
                        }
                        @include max-width-mixin(500px) {
                            // width: 150px;
                            padding-right: 0;
                        }
                    }
                    .catering {
                        // outline: 3px solid red;
                        grid-area: catering;

                        // display: flex;
                        // width: 90%;
                        // width: 526px;
                        text-align: left;
                        font: normal normal normal 82px/79px Blenda Script;
                        letter-spacing: 0px;
                        color: #f23816;
                        color: #020100;
                        opacity: 1;
                        position: relative;
                        top: -10px;

                        @include max-width-mixin(1200px) {
                            font-size: 75px;
                            top: -12px;
                        }
                        @include max-width-mixin(1100px) {
                            font-size: 65px;
                            top: -17px;
                        }
                        @include max-width-mixin(960px) {
                            font-size: 60px;
                            top: -20px;
                        }
                        @include max-width-mixin(825px) {
                            font-size: 55px;
                        }
                        @include max-width-mixin(800px) {
                            font-size: 50px;
                        }
                        @include max-width-mixin(750px) {
                            font-size: 80px;
                            padding-top: 15px;
                        }
                        @include max-width-mixin(600px) {
                            font-size: 70px;
                            // padding-top: 15px;
                        }
                        @include max-width-mixin(500px) {
                            font-size: 60px;
                            // padding-top: 15px;
                        }
                        @include max-width-mixin(350px) {
                            // font-size: 40px;
                        }
                    }
                }

                .cookin-and-logo {
                    // outline: 3px solid blue;
                    display: flex;

                    .cookin {
                        // outline: 3px solid red;
                        grid-area: cookin;

                        text-align: left;
                        font: normal normal normal 62px/63px Blenda Script;
                        letter-spacing: 0px;
                        line-height: 1;
                        color: #f23816;
                        color: #020100;
                        opacity: 1;
                        // align-self: end;
                        // justify-self: start;
                        padding-left: 0;
                        position: relative;
                        // width: 200px;

                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;

                        @include max-width-mixin(1200px) {
                            font-size: 55px;
                        }
                        @include max-width-mixin(1100px) {
                            font-size: 45px;
                        }
                        @include max-width-mixin(960px) {
                            font-size: 38px;
                        }
                        @include max-width-mixin(820px) {
                            font-size: 30px;
                        }
                        @include max-width-mixin(500px) {
                            width: 70%;
                        }
                    }

                    .logo {
                        // outline: 5px solid blue;
                        grid-area: logo;

                        // margin-top: 34px;
                        align-self: end;
                        // width: 200px;
                        min-width: 100px;
                        // padding-right: 150px;

                        @include max-width-mixin(1000px) {
                            width: 180px;
                        }
                        @include max-width-mixin(900px) {
                            // width: 50%;
                            // padding-right: 300px;
                        }
                        @include max-width-mixin(800px) {
                            // padding-right: 150px;
                        }
                        @include max-width-mixin(600px) {
                            // padding-right: 100px;
                        }
                        @include max-width-mixin(500px) {
                            // width: 150px;
                            padding-right: 0;
                        }
                    }
                }

                .leftspace {
                    // outline: 3px solid red;
                    // grid-area: leftspace;

                    // width: 300px;
                    // align-self: flex-end;
                }

                .hollis {
                    // outline: 3px solid red;
                    grid-area: hollis;
                    width: 100%;
                    align-self: end;
                    display: flex;
                    align-self: flex-start;
                    text-align: left;
                    font: normal normal normal 15px/41px "BioRhyme Expanded";
                    letter-spacing: 0px;
                    color: #020100;
                    opacity: 1;
                    padding-top: 15px;
                    @include max-width-mixin(900px) {
                        margin-bottom: 10px;
                        // width: 80%;
                        line-height: 1.5;
                        // padding-top: 10px;
                    }
                    @include max-width-mixin(750px) {
                        margin-bottom: 0;
                        padding-top: 10px;
                    }
                }
                padding-left: 0;
                margin-left: 0;
            }

            .right-side {
                // outline: 3px dashed red;

                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                padding-bottom: 10px;

                @include max-width-mixin(1000px) {
                    margin-top: 40px;
                }
                @include max-width-mixin(750px) {
                    margin-top: 20px;
                    align-items: flex-start;
                }

                .delicious {
                    // outline: 3px solid red;
                    grid-area: delicious;

                    width: 100%;
                    display: flex;
                    text-align: center;
                    align-self: center;
                    justify-self: center;
                    font: normal normal normal 18px/35px "BioRhyme Expanded";
                    letter-spacing: 0px;
                    color: #020100;
                    opacity: 1;
                    line-height: 1.8;
                    // margin-top: 50px;

                    @include max-width-mixin(1150px) {
                        font-size: 16px;
                        // width: 80%;
                    }
                    @include max-width-mixin(1000px) {
                        font-size: 14px;
                        width: 95%;
                    }
                    @include max-width-mixin(750px) {
                        align-self: flex-start;
                        text-align: left;
                    }
                    @include max-width-mixin(400px) {
                        line-height: 1.4;
                    }
                }

                .orders {
                    // outline: 3px solid red;
                    width: 100%;
                    margin-top: -10px;
                    text-align: center;
                    font: normal normal normal 15px/22px BioRhyme Expanded;
                    letter-spacing: 0px;
                    color: #020100;
                    opacity: 1;
                    padding-top: 25px;
                    position: relative;
                    // top: 3px;

                    @include max-width-mixin(1000px) {
                        margin-top: 0; //15px;
                    }

                    @include max-width-mixin(1150px) {
                        font-size: 14px;
                    }
                    @include max-width-mixin(900px) {
                        // justify-self: flex-start;
                        // text-align: left;
                        // padding-top: 10px;
                    }
                    @include max-width-mixin(750px) {
                        align-self: flex-start;
                        text-align: left;
                        width: 100%;
                    }
                    @include max-width-mixin(400px) {
                        // width: 80%;
                    }
                }

                .price1 {
                    // outline: 3px solid red;
                    grid-area: price;

                    width: 100%;
                    height: 100px;
                    @include min-width-mixin(900px) {
                        margin: 0 auto;
                    }
                    margin-top: 10px;
                    position: relative;
                    align-items: center;

                    display: grid;
                    grid-template-areas: "only dollars cents asteric pickup";

                    justify-content: center;
                    justify-self: center;

                    justify-content: center;
                    @include max-width-mixin(1000px) {
                        height: 80px;
                    }
                    @include max-width-mixin(750px) {
                        justify-content: flex-start;
                    }

                    .only {
                        grid-area: only;
                        align-items: center;
                        text-align: left;
                        font: normal normal bold 63px/59px Times New Roman;
                        letter-spacing: 0px;
                        color: #f23816;
                        color: #020100;
                        opacity: 1;
                        @include max-width-mixin(1150px) {
                            font-size: 45px;
                        }
                        @include max-width-mixin(1000px) {
                            font-size: 35px;
                        }
                        @include max-width-mixin(900px) {
                        }
                    }
                    .dollars {
                        grid-area: dollars;
                        text-align: left;
                        font: normal normal bold 67px/57px Times New Roman;
                        letter-spacing: 0px;
                        color: #f23816;
                        color: #020100;
                        opacity: 1;
                        @include max-width-mixin(1150px) {
                            font-size: 45px;
                        }
                        @include max-width-mixin(1000px) {
                            font-size: 35px;
                        }
                    }
                    .cents {
                        grid-area: cents;
                        text-align: left;
                        font: normal normal bold 44px/61px Times New Roman;
                        letter-spacing: 0px;
                        color: #f23816;
                        color: #020100;
                        text-transform: lowercase;
                        opacity: 1;
                        position: relative;
                        top: -10px;
                        left: -5px;
                        @include max-width-mixin(1150px) {
                            font-size: 30px;
                            top: -8px;
                            left: -2px;
                        }
                        @include max-width-mixin(1000px) {
                            font-size: 20px;
                        }
                    }
                    .asteric {
                        grid-area: asteric;
                        text-align: left;
                        font: normal normal bold 35px/62px Times New Roman;
                        letter-spacing: 0px;
                        color: #f23816;
                        color: #020100;
                        text-transform: lowercase;
                        opacity: 1;
                        position: relative;
                        top: -15px;
                        left: -5px;
                        @include max-width-mixin(1150px) {
                            font-size: 25px;
                            top: -10px;
                            left: -2px;
                        }
                    }

                    .pickup {
                        // outline: 3px solid red;
                        grid-area: pickup;
                        text-align: center;
                        font: normal normal normal 20px/33px BioRhyme Expanded;
                        letter-spacing: 0px;
                        color: #000000;
                        opacity: 1;
                        position: relative;
                        top: 15px;
                        left: -30px;

                        @include max-width-mixin(1190px) {
                            font-size: 16px;
                        }
                        @include max-width-mixin(920px) {
                            font-size: 12px;
                            // top: 0;
                            // left: 0;
                            // line-height: 1;
                            // text-align: left;
                        }
                        @include max-width-mixin(800px) {
                            left: -30px;
                            line-height: 1;
                            text-align: left;
                        }
                        @include max-width-mixin(750px) {
                            font-size: 12px;
                            top: 15px;
                            left: -30px;
                        }
                    }
                }

                .price {
                    outline: 3px solid red;
                    grid-area: price;

                    width: 100%;
                    height: 100px;
                    @include min-width-mixin(900px) {
                        margin: 0 auto;
                    }
                    margin-top: 10px;
                    position: relative;
                    align-items: center;

                    display: flex;
                    justify-content: center;
                    @include max-width-mixin(1000px) {
                        height: 80px;
                    }
                    @include max-width-mixin(750px) {
                        justify-content: flex-start;
                    }

                    .price-block {
                        outline: 3px solid red;
                        // width: 100%;

                        .only {
                            align-items: center;
                            text-align: left;
                            font: normal normal bold 63px/59px Times New Roman;
                            letter-spacing: 0px;
                            color: #f23816;
                            color: #020100;
                            opacity: 1;
                            @include max-width-mixin(1150px) {
                                font-size: 50px;
                            }
                            @include max-width-mixin(900px) {
                            }
                        }
                        .dollars {
                            text-align: left;
                            font: normal normal bold 67px/57px Times New Roman;
                            letter-spacing: 0px;
                            color: #f23816;
                            color: #020100;
                            opacity: 1;
                            @include max-width-mixin(1150px) {
                                font-size: 50px;
                            }
                        }
                        .cents {
                            text-align: left;
                            font: normal normal bold 44px/61px Times New Roman;
                            letter-spacing: 0px;
                            color: #f23816;
                            color: #020100;
                            text-transform: lowercase;
                            opacity: 1;
                            position: relative;
                            top: -16px;
                            left: -5px;
                            @include max-width-mixin(1150px) {
                                font-size: 30px;
                                top: -8px;
                            }
                        }
                        .asteric {
                            text-align: left;
                            font: normal normal bold 35px/62px Times New Roman;
                            letter-spacing: 0px;
                            color: #f23816;
                            color: #020100;
                            text-transform: lowercase;
                            opacity: 1;
                            position: relative;
                            top: -25px;
                            left: -10px;
                            @include max-width-mixin(1150px) {
                                font-size: 25px;
                                top: -10px;
                            }
                        }
                    }
                    .pickup-block {
                        outline: 3px solid red;

                        .pickup {
                            text-align: center;
                            font: normal normal normal 20px/33px BioRhyme Expanded;
                            letter-spacing: 0px;
                            color: #000000;
                            opacity: 1;
                            position: relative;
                            top: 15px;
                            left: -30px;

                            @include max-width-mixin(1160px) {
                                // color: red;
                                top: 0;
                                left: 0;
                                display: block;
                                line-height: 1;
                                text-align: left;
                                padding-left: 10px;
                            }
                            @include max-width-mixin(420px) {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .phone-number {
                    // outline: 3px solid red;

                    text-align: center;
                    display: flex;
                    justify-self: center;
                    align-self: center;
                    font: normal normal bold 54px/49px Times New Roman;
                    letter-spacing: 0px;
                    color: #f23816;
                    color: #020100;
                    opacity: 1;
                    margin-top: 20px;
                    @include max-width-mixin(1050px) {
                        margin-top: 10px;
                    }
                    @include max-width-mixin(1000px) {
                        font-size: 35px;
                    }

                    // margin-bottom: 10px;
                    a {
                        text-decoration: none;
                        color: #f23816;
                        color: #020100;
                    }

                    // @include max-width-mixin(1150px) {
                    //     font-size: 43px;
                    //     top: -10px;
                    // }
                    // @include max-width-mixin(750px) {
                    //     width: 100%;
                    //     justify-self: flex-start;
                    //     // margin-bottom: 15px;
                    // }
                }

                .delivery {
                    // outline: 3px solid red;
                    grid-area: pickup;

                    width: 100%;
                    display: flex;
                    justify-self: center;
                    align-items: center;
                    text-align: center;
                    font: normal normal normal 18px/30px BioRhyme Expanded;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                    // line-height: 1.5;

                    @include max-width-mixin(1150px) {
                        // width: 80%;
                        font-size: 16px;
                    }
                    @include max-width-mixin(1000px) {
                        font-size: 16px;
                        line-height: 1.5;
                        margin-bottom: 10px;
                        width: 95%;
                    }
                    @include max-width-mixin(750px) {
                        width: 80%;
                        justify-self: center;
                        text-align: left;
                        // margin-bottom: 15px;
                        // line-height: 1.8;
                    }
                }
            }
        }
    }

    .menu-section {
        // outline: 3px solid red;
        background-image: url("../images/blackboard2.jpg");
        opacity: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: auto; //2200px;
        width: 100%;
        margin: 0 auto;
        // display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 30px;

        .menu-header {
            // outline: 3px solid red;
            // height: 76px;
            width: 84%;
            @include max-width-mixin(900px) {
                width: 90%;
            }

            text-align: left;
            font: normal normal normal 60px/60px cursive;
            letter-spacing: 0px;
            color: #ffffff;
            text-transform: uppercase;
            opacity: 1;
            margin: 0 auto;

            margin: 0 auto;
            font: normal normal normal 62px/60px CHAWP;
            font-family: CHAWP, cursive;
            letter-spacing: 0.62px;
            color: #ffffff;
            text-transform: uppercase;
            opacity: 1;

            display: flex;
            @include max-width-mixin(800px) {
                flex-direction: column;
                align-items: center;
                margin-top: 0;
                margin-bottom: 50px;
            }
            justify-content: space-between;
            position: relative;

            p {
                // outline: 3px solid red;
                display: flex;
                align-items: flex-end;
            }

            img {
                // outline: 3px solid red;
                // width: 504px;
                // height: 398px;
                width: 60%;
                box-shadow: 0px 15px 18px #00000099;
                border: 12px solid #ffffff;
                transform: matrix(0.99, -0.12, 0.12, 0.99, 0, 0);
                position: relative;
                top: 20px;
                left: 0px;
                margin-left: 100px;
                @include max-width-mixin(800px) {
                    // display: none;
                    top: 0;
                    width: 80%;
                    margin-left: 15px;
                }
            }

            .shredded-container {
                // outline: 3px solid red;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: relative;
                left: -25px;
                top: -10px;

                .shredded {
                    text-transform: none;
                    text-align: left;
                    font: normal normal normal 27px/30px Itim;
                    letter-spacing: 0px;
                    color: #ffffff;
                    opacity: 1;
                }
            }

            margin-bottom: 20px;
        }

        .menu-item {
            // outline: 3px solid red;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 50px;
            // margin-left: 12%; // 146px;
            width: 84%;
            @include max-width-mixin(900px) {
                width: 90%;
            }

            .day-header {
                // outline: 3px solid blue;
                text-align: left;
                font: normal normal normal 43px/60px Itim;
                letter-spacing: 0px;
                color: #ffffff;
                // text-transform: lowercase;
                opacity: 1;

                // display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                @include max-width-mixin(700px) {
                    font-size: 30px;
                    line-height: 1;
                }
                @include max-width-mixin(700px) {
                    // font-size: 30px;
                    line-height: 0.9;
                }

                @include max-width-mixin(500px) {
                    font-size: 25px;
                    // line-height: 0.8;
                }
                @include max-width-mixin(350px) {
                    font-size: 20px;
                }
            }
            // #monday {
            //     background: #169f8f 0% 0% no-repeat padding-box;
            // }
            // #tuesday {
            //     background: #f23816 0% 0% no-repeat padding-box;
            // }
            // #wednesday {
            //     background: #169f8f 0% 0% no-repeat padding-box;
            // }
            // #thursday {
            //     background: #f23816 0% 0% no-repeat padding-box;
            // }
            // #friday {
            //     background: #169f8f 0% 0% no-repeat padding-box;
            // }
            .meal-summary {
                // outline: 3px solid red;
                margin-top: 5px;
                text-align: left;
                font: normal normal normal 60px/60px CHAWP;
                letter-spacing: 0.62px;
                color: #ffffff;
                text-transform: uppercase;
                opacity: 1;
                // padding-bottom: 20px;
                padding-top: 5px;
                line-height: 1.1;

                @include max-width-mixin(1100px) {
                    font-size: 50px;
                }
                @include max-width-mixin(900px) {
                    font-size: 45px;
                }
                @include max-width-mixin(700px) {
                    font-size: 40px;
                    line-height: 1;
                }
                @include max-width-mixin(500px) {
                    font-size: 30px;
                    line-height: 1;
                    padding-bottom: 0px;
                }
                @include max-width-mixin(400px) {
                    font-size: 25px;
                }
            }

            .meal-content {
                // outline: 3px solid red;
                width: 100%; //950px;
                text-align: left;
                font: normal normal normal 38px/60px Itim;
                letter-spacing: 0px;
                color: #ffffff;
                // text-transform: lowercase;
                opacity: 1;
                line-height: 1;

                @include max-width-mixin(1100px) {
                    font-size: 30px;
                }
                @include max-width-mixin(900px) {
                }
                @include max-width-mixin(700px) {
                    font-size: 24px;
                    line-height: 0.9;
                }
                @include max-width-mixin(350px) {
                    font-size: 16px;
                }
            }

            margin-bottom: 75px;
            @include max-width-mixin(500px) {
                margin-bottom: 50px;
            }
        }
    }
}

.footer {
    // outline: 3px solid red;
    background: #ffffff 0% 0% no-repeat padding-box;
    padding-top: 36px;
    padding-bottom: 40px;
    height: auto;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    min-width: 300px;

    .copy1 {
        // outline: 3px solid red;
        margin: 0 auto;
        width: 90%;
        @include max-width-mixin(450px) {
            width: 95%;
            line-height: 1.5;
        }
        text-align: center;
        font: normal normal normal 20px/32px BioRhyme Expanded;
        letter-spacing: 0px;
        color: #f23816;
        // margin-bottom: 15px;
        padding-bottom: 20px;

        // width: 1174px;
        // height: 123px;
        // text-align: left;
        font: normal normal normal 19px/30px BioRhyme Expanded;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        @include max-width-mixin(1000px) {
            font-size: 16px;
        }
    }
    .copy2 {
        // outline: 3px solid red;
        margin: 0 auto;
        width: 80%;
        @include max-width-mixin(450px) {
            width: 95%;
            line-height: 1.5;
        }
        text-align: center;
        font: normal normal normal 16px/28px BioRhyme Expanded;
        letter-spacing: 0px;
        color: #676462;
        opacity: 1;

        opacity: 1;
        font: normal normal normal 16px/27px BioRhyme Expanded;
        letter-spacing: 0px;
        color: #000000;
        @include max-width-mixin(1000px) {
            font-size: 13px;
        }
    }

    .phone-etc {
        // outline: 3px solid red;
        width: 50%;
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        @include max-width-mixin(800px) {
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            width: 100%;
            margin-top: 15px;
        }

        .footer-phone-number {
            // outline: 3px solid red;
            text-align: center;
            font: normal normal bold 54px/49px Times New Roman;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            text-decoration: none;
            @include max-width-mixin(1000px) {
                font-size: 40px;
            }
            @include max-width-mixin(800px) {
                width: 100%;
                padding: 0;
                margin: 0 auto;
                // width: 50%;
                align-self: center;
            }
        }
        .footer-images {
            display: flex;
            flex-direction: row;
            img {
                padding-left: 20px;
                @include max-width-mixin(800px) {
                    padding: 0;
                    margin: 0 auto;
                    margin-top: 20px;
                    width: 45%;
                }
            }
        }
    }

    .alchemy {
        // outline: 3px solid red;
        margin: 0 auto;
        width: 95%;
        height: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;

        p {
            text-align: left;
            font: normal normal normal 14px/49px Arial;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
        }
        img {
            background: #ffffff 0% 0% no-repeat padding-box;
            opacity: 1;
            height: 18px;
            width: 18px;
        }
    }
}
