@import "common";

main {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    min-width: 300px;
    // height: 3000px;
    // background-color: #f2ed7733;
    // overflow: hidden;
    // padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .top-section {
        // outline: 3px solid blue;
        // margin: 0 auto;
        background-color: #E8E2D9;
        max-width: 1280pc;
        width: 100%;
        // min-width: 900px;
        margin-top: 0;
        height: auto; //500px;
        padding-bottom: 25px;
        // width: 1280px;
        // padding-left: 100px;
        // padding-right: 100px;
        display: grid;
        // grid-template-areas:
        //     "cookin   logo     blank    delicious delicious delicious"
        //     "cookin   logo     blank    price     price     price"
        //     "cookin   logo     blank    pickup    pickup    pickup"
        //     "catering catering catering phone     phone     phone"
        //     "hollis   hollis   hollis   orders    orders    orders";

        // grid-template-areas:
        //     "leftspace  cookin   logo     blank    delicious delicious delicious"
        //     "leftspace  cookin   logo     blank    price     price     price    "
        //     "leftspace  cookin   logo     blank    pickup    pickup    pickup   "
        //     "leftspace  catering catering catering phone     phone     phone    "
        //     "leftspace  hollis   hollis   hollis   orders    orders    orders   ";
        grid-template-areas:
            "sp1 sp1 sp1 cookin logo blank4 blank4 blank4 blank4 blank4 blank4 blank4 blank4 "
            "sp1 sp1 sp1 cookin   logo     blank    delicious delicious delicious delicious blank3 blank3 blank3"
            "sp1 sp1 sp1 cookin   logo     blank    price     price     price     price    blank3 blank3 blank3"
            "sp1 sp1 sp1 cookin   logo     blank    pickup    pickup    pickup    pickup   blank3 blank3 blank3"
            "sp1 sp1 sp1 catering catering blank2 phone     phone     phone     phone    blank3 blank3 blank3"
            "sp1 sp1 sp1 hollis   hollis   blank2   orders    orders    orders    orders   blank3 blank3 blank3";

        @include max-width-mixin(900px) {
            grid-template-areas:
                "sp1 cookin	logo	blank"
                "sp1 cookin	logo	blank"
                "sp1 cookin	logo	blank"
                "sp1 catering	catering	catering"
                "sp1 hollis	hollis	hollis"
                "sp1 delicious	delicious	delicious"
                "sp1 price	price	price	"
                "sp1 pickup	pickup	pickup		"
                "sp1 phone	phone	phone		"
                "sp1 orders	orders	orders		";

            justify-content: center;
            justify-self: center;
        }

        .box {
            // outline: 3px solid red;
        }

        .sp1 {
            grid-area: sp1;

            width: 100px;
            @include max-width-mixin(950px) {
                width: 50px;
            }
            @include max-width-mixin(600px) {
                width: 50px;
            }
            @include max-width-mixin(400px) {
                width: 25px;
            }
        }

        .blank3 {
            width: 100px;
            @include max-width-mixin(1200px) {
                width: 50px;
            }
            @include max-width-mixin(1050px) {
                width: 25px;
            }
        }
        .blank4 {
            width: 50%;
            height: 50px;
        }

        .blank,
        .blank2 {
            width: 0px;
        }

        .cookin {
            // outline: 3px solid red;
            grid-area: cookin;

            // padding: 25px;
            // padding-right: 25px;
            text-align: left;
            font: normal normal normal 62px/63px Blenda Script;
            letter-spacing: 0px;
            color: #f23816;
            color: #020100;
            opacity: 1;
            align-self: end;
            justify-self: start;
            padding-left: 0;
            position: relative;
            width: 200px;

            @include max-width-mixin(1150px) {
                font-size: 50px;
            }
            @include max-width-mixin(500px) {
                font-size: 35px;
            }
            @include max-width-mixin(500px) {
                width: 50%;
            }
        }

        .logo {
            // outline: 3px solid red;
            grid-area: logo;

            margin-top: 34px;
            align-self: end;
            // width: 200px;
            min-width: 100px;
            @include max-width-mixin(1000px) {
                width: 180px;
            }
            @include max-width-mixin(500px) {
                width: 150px;
            }
        }

        .leftspace {
            outline: 3px solid red;
            grid-area: leftspace;

            width: 300px;
            // align-self: flex-end;
        }

        .catering {
            // outline: 3px solid red;
            grid-area: catering;

            // display: flex;
            // width: 90%;
            // width: 526px;
            text-align: left;
            font: normal normal normal 82px/79px Blenda Script;
            letter-spacing: 0px;
            color: #f23816;
            color: #020100;
            opacity: 1;
            @include max-width-mixin(1150px) {
                font-size: 65px;
            }
            @include max-width-mixin(1000px) {
                font-size: 50px;
                // width: 80%;
            }
            @include max-width-mixin(500px) {
                font-size: 45px;
            }
        }

        .hollis {
            // outline: 3px solid red;
            grid-area: hollis;

            align-self: end;
            display: flex;
            align-self: flex-end;
            text-align: left;
            font: normal normal normal 15px/41px "BioRhyme Expanded";
            letter-spacing: 0px;
            color: #020100;
            opacity: 1;
            @include max-width-mixin(900px) {
                margin-bottom: 25px;
                width: 80%;
                line-height: 1.5;
            }
        }

        .delicious {
            grid-area: delicious;

            width: 80%;
            display: flex;
            text-align: center;
            align-self: end;
            justify-self: center;
            font: normal normal normal 18px/35px "BioRhyme Expanded";
            letter-spacing: 0px;
            color: #020100;
            opacity: 1;
            line-height: 1.8;
            @include max-width-mixin(1150px) {
                font-size: 16px;
                width: 80%;
            }
            @include max-width-mixin(900px) {
                justify-self: flex-start;
                text-align: left;

                line-height: 1.5;
            }
        }

        .orders {
            grid-area: orders;

            margin-top: -10px;
            align-self: end;
            display: flex;
            justify-self: center;
            align-self: flex-start;
            text-align: center;
            font: normal normal normal 15px/22px BioRhyme Expanded;
            letter-spacing: 0px;
            color: #020100;
            opacity: 1;
            @include max-width-mixin(1150px) {
                font-size: 14px;
            }
            @include max-width-mixin(900px) {
                justify-self: flex-start;
                text-align: left;
            }
            @include max-width-mixin(400px) {
                width: 80%;
            }
        }

        .price {
            // outline: 3px solid red;
            grid-area: price;

            width: 80%;
            height: 100px;
            @include min-width-mixin(900px) {
                margin: 0 auto;
            }
            margin-top: 10px;
            position: relative;
            align-items: center;
            // padding-top: 25px;

            display: flex;
            justify-content: center;
            @include max-width-mixin(900px) {
                justify-content: flex-start;
                margin-bottom: 10px;
                width: 80%;
            }

            .only {
                align-items: center;
                text-align: left;
                font: normal normal bold 63px/59px Times New Roman;
                letter-spacing: 0px;
                color: #f23816;
                color: #020100;
                opacity: 1;
                @include max-width-mixin(1150px) {
                    font-size: 50px;
                }
                @include max-width-mixin(900px) {
                }
            }
            .dollars {
                text-align: left;
                font: normal normal bold 67px/57px Times New Roman;
                letter-spacing: 0px;
                color: #f23816;
                color: #020100;
                opacity: 1;
                @include max-width-mixin(1150px) {
                    font-size: 50px;
                }
            }
            .cents {
                text-align: left;
                font: normal normal bold 44px/61px Times New Roman;
                letter-spacing: 0px;
                color: #f23816;
                color: #020100;
                text-transform: lowercase;
                opacity: 1;
                position: relative;
                top: -17px;
                left: -5px;
                @include max-width-mixin(1150px) {
                    font-size: 30px;
                    top: -14px;
                }
            }
            .asteric {
                text-align: left;
                font: normal normal bold 35px/62px Times New Roman;
                letter-spacing: 0px;
                color: #f23816;
                color: #020100;
                text-transform: lowercase;
                opacity: 1;
                position: relative;
                top: -25px;
                left: -10px;
                @include max-width-mixin(1150px) {
                    font-size: 25px;
                    top: -17px;
                }
            }
        }

        .phone-number {
            grid-area: phone;

            text-align: center;
            display: flex;
            justify-self: center;
            align-self: center;
            font: normal normal bold 54px/49px Times New Roman;
            letter-spacing: 0px;
            color: #f23816;
            opacity: 1;
            // margin-top: 20px;
            // margin-bottom: 10px;
            a {
                text-decoration: none;
                color: #f23816;
                color: #020100;
            }

            @include max-width-mixin(1150px) {
                font-size: 43px;
                top: -10px;
            }
            @include max-width-mixin(900px) {
                justify-self: flex-start;
                margin-bottom: 15px;
            }
        }

        .pickup {
            grid-area: pickup;

            width: 80%;
            display: flex;
            justify-self: center;
            align-items: center;
            text-align: center;
            font: normal normal normal 18px/22px "BioRhyme Expanded";
            letter-spacing: 0px;
            color: #020100;
            opacity: 1;
            line-height: 1.8;
            @include max-width-mixin(1050px) {
                width: 80%;
                font-size: 16px;
            }
            @include max-width-mixin(900px) {
                // width: 80%;
                justify-self: flex-start;
                text-align: left;
                margin-bottom: 15px;
                line-height: 1.8;
            }
        }
    }

    .menu-section {
        // outline: 3px solid red;
        background-image: url("../images/blackboard2.jpg");
        z-index: 1;
        opacity: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: auto; //2200px;
        width: 100%;
        margin: 0 auto;
        // display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 30px;

        .meal-photo {
            // outline: 3px solid red;
            position: relative;
            width: 100%;
            min-width: 200px;
            height: 500px;
            img {
                z-index: 3;
            }
            
            #inner-meal-photo {
                // outline: 3px solid blue;
                border: 5px solid white;
                margin: 20px;
                width: 80%;
                min-width: 200px;
                // height: 500px;
                // height: 50vh;
                height: 80vw;
                max-height: 500px;
                // height: 450px;
                // background-image: url("../images/foodiesfeed.com_tacos-with-pulled-pork-fresh-vegetables-and-cream.jpg");
                opacity: 1;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                box-shadow:         0px 0px 5px 6px #020100;
                box-shadow: 5px 10px #888888;
                margin: 20px;
                position: absolute;
                // top: 25px;
                z-index: -1;
                transform: matrix(0.98, -0.17, 0.17, 0.98, 0, 0);
                margin-top: 100px;
                // left: 120px;
                left: 5%;

                img {
                    width: 1000px;
                    height: 300px;
                    width: 80vw;
                }
            }
            margin-bottom: 50px;
        }



        .menu-header {
            // outline: 3px solid red;
            height: 76px;
            text-align: left;
            font: normal normal normal 60px/60px cursive;
            letter-spacing: 0px;
            color: #ffffff;
            text-transform: uppercase;
            opacity: 1;
            margin: 0 auto;
            margin-top: 124px;
            margin-bottom: 50px;

            width: 178px;
            height: 63px;
            text-align: left;
            font: normal normal normal 62px/60px CHAWP;
            font-family: CHAWP, cursive;
            letter-spacing: 0.62px;
            color: #ffffff;
            text-transform: uppercase;
            opacity: 1;
        }

        .menu-item {
            // outline: 3px solid red;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 50px;
            // margin-left: 12%; // 146px;
            width: 80%;
            @include max-width-mixin(900px) {
                width: 90%;
            }

            .day-header {
                // outline: 3px solid blue;
                text-align: left;
                font: normal normal normal 43px/60px Itim;
                letter-spacing: 0px;
                color: #ffffff;
                // text-transform: lowercase;
                opacity: 1;

                // display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                @include max-width-mixin(500px) {
                    font-size: 35px;
                }
            }
            // #monday {
            //     background: #169f8f 0% 0% no-repeat padding-box;
            // }
            // #tuesday {
            //     background: #f23816 0% 0% no-repeat padding-box;
            // }
            // #wednesday {
            //     background: #169f8f 0% 0% no-repeat padding-box;
            // }
            // #thursday {
            //     background: #f23816 0% 0% no-repeat padding-box;
            // }
            // #friday {
            //     background: #169f8f 0% 0% no-repeat padding-box;
            // }
            .meal-summary {
                // outline: 3px solid red;
                margin-top: 5px;
                text-align: left;
                font: normal normal normal 62px/60px CHAWP;
                letter-spacing: 0.62px;
                color: #ffffff;
                text-transform: uppercase;
                opacity: 1;
                padding-bottom: 10px;
                @include max-width-mixin(700px) {
                    font-size: 45px;
                }
                @include max-width-mixin(500px) {
                    font-size: 30px;
                    line-height: 1.5;
                }
            }

            .meal-content {
                // outline: 3px solid red;
                width: 100%; //950px;
                text-align: left;
                font: normal normal normal 43px/60px Itim;
                letter-spacing: 0px;
                color: #ffffff;
                text-transform: lowercase;
                opacity: 1;
                line-height: 1;
                @include max-width-mixin(700px) {
                    font-size: 30px;
                }
            }
        }
        .images {
            // outline: 3px solid red;
            margin: 0 auto;
            margin-top: 50px;
            position: relative;
            // display: flex;
            justify-content: center;
            align-items: baseline;
            width: 100%;
            // height: 500px;
            // top: 200px;

            img {
                // width: 50%;
                // border: 10px solid white;
                // position: absolute;
                // border: 12px solid #ffffff;
                width: 100%;
            }

            #tape1 {
                width: 40px;
                z-index: 10;
                border: 0px;
                left: 200px;
                top: -50px;
                transform: matrix(0.98, -0.17, 0.17, 0.98, 0, 0);
            }

            #tape2 {
                width: 40px;
                z-index: 10;
                border: 0px;
                left: 550px;
                top: 35px;
                transform: matrix(0.99, 0.14, -0.14, 0.99, 0, 0);
            }

            #tape3 {
                width: 40px;
                z-index: 10;
                border: 0px;
                left: 850px;
                top: -50px;
            }

            #image1 {
                width: 358px;
                height: 361px;
                transform: matrix(0.99, 0.14, -0.14, 0.99, 0, 0);
                // position: absolute;
                left: 40%;
                top: 100px;
                z-index: 2;
            }
            #image2 {
                width: 535px;
                height: 442px;
                transform: matrix(0.98, -0.17, 0.17, 0.98, 0, 0);
                left: -15px;
            }
            #image3 {
                width: 432px;
                height: 253px;
                left: 63%;
            }
            // display: none;
        }
    }
    .more-stuff {
        // outline: 3px solid red;
        position: relative;
        // margin-right: 30px;
        top: -10px;
        display: none;

        .all-entrees {
            // outline: 3px solid red;
            text-align: left;
            font: normal normal normal 62px/62px "Funstuff-Bold";
            font-family: "Funstuff-Bold", Arial, Helvetica, sans-serif;
            letter-spacing: 0px;
            color: #f23816;
            opacity: 1;
        }
        .dollar-sign {
            position: relative;
            // text-align: left;
            font: normal normal normal 46px/63px Arial;
            letter-spacing: -35px;
            color: #f23816;
            text-transform: lowercase;
            opacity: 1;
            top: -15px;
        }
        .dollar-amount {
            position: relative;
            // text-align: left;
            font: normal normal normal 62px/63px Arial;
            letter-spacing: -8px;
            color: #f23816;
            opacity: 1;
            left: 15px;
        }
        .cents-amount {
            position: relative;
            // text-align: left;
            font: normal normal normal 38px/63px Arial;
            letter-spacing: -3px;
            color: #f23816;
            text-transform: lowercase;
            opacity: 1;
            left: 15px;
            top: -15px;
        }

        .happy {
            text-align: left;
            font: normal normal normal 18px/34px BioRhyme Expanded;
            letter-spacing: 0px;
            opacity: 1;
            margin-bottom: 15px;
        }

        .pleased {
            text-align: left;
            font: normal normal normal 18px/34px BioRhyme Expanded;
            letter-spacing: 0px;
            color: #f23816;
        }

        .phone-number {
            text-align: left;
            font: normal normal normal 56px/51px Epitaph;
            letter-spacing: 0px;
            color: #f23816;
            opacity: 1;
        }
    }

    .footer {
        background: #0000004d 0% 0% no-repeat padding-box;
        padding-top: 100px;
        padding-bottom: 40px;
        height: auto;

        .copy1 {
            margin: 0 auto;
            width: 80%;
            text-align: center;
            font: normal normal normal 20px/32px BioRhyme Expanded;
            letter-spacing: 0px;
            color: #f23816;
            // margin-bottom: 15px;
            padding-bottom: 30px;

            // width: 1174px;
            // height: 123px;
            text-align: center;
            font: normal normal normal 21px/30px BioRhyme Expanded;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
        }
        .copy2 {
            margin: 0 auto;
            width: 80%;
            text-align: center;
            font: normal normal normal 16px/28px BioRhyme Expanded;
            letter-spacing: 0px;
            color: #676462;
            opacity: 1;

            text-align: center;
            font: normal normal normal 17px/27px BioRhyme Expanded;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
        }
    }
}
