@import "common";

main {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    min-width: 300px;
    // height: 3000px;
    // background-color: #f2ed7733;
    // overflow: hidden;
    // padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    nav {
        // outline: 3px solid red;
        background-color: #e8e2d9;
        max-width: 1280pc;
        width: 100%;
        // min-width: 900px;
        margin-top: 0;
        height: auto; //500px;
        // padding-bottom: 25px;
        margin-bottom: 2px;
        display: flex;
        justify-content: flex-end;
        ul {
            // outline: 3px solid red;
            display: flex;
            justify-content: flex-end;
            list-style: none;
            li {
                padding-right: 29px;
            }
        }
    }

    .top-section {
        // outline: 3px solid blue;
        // margin: 0 auto;
        background-color: #e8e2d9;
        max-width: 1280pc;
        width: 100%;
        // min-width: 900px;
        margin-top: 0;
        height: auto; //500px;
        padding-bottom: 25px;
        // width: 1280px;
        // padding-left: 100px;
        // padding-right: 100px;
        display: grid;
        // grid-template-areas:
        //     "cookin   logo     blank    delicious delicious delicious"
        //     "cookin   logo     blank    price     price     price"
        //     "cookin   logo     blank    pickup    pickup    pickup"
        //     "catering catering catering phone     phone     phone"
        //     "hollis   hollis   hollis   orders    orders    orders";

        // grid-template-areas:
        //     "leftspace  cookin   logo     blank    delicious delicious delicious"
        //     "leftspace  cookin   logo     blank    price     price     price    "
        //     "leftspace  cookin   logo     blank    pickup    pickup    pickup   "
        //     "leftspace  catering catering catering phone     phone     phone    "
        //     "leftspace  hollis   hollis   hollis   orders    orders    orders   ";
        grid-template-areas:
            "sp1 sp1 sp1 cookin logo blank4 blank4 blank4 blank4 blank4 blank4 blank4 blank4 "
            "sp1 sp1 sp1 cookin   logo     blank    delicious delicious delicious delicious blank3 blank3 blank3"
            "sp1 sp1 sp1 cookin   logo     blank    price     price     price     price    blank3 blank3 blank3"
            "sp1 sp1 sp1 cookin   logo     blank    pickup    pickup    pickup    pickup   blank3 blank3 blank3"
            "sp1 sp1 sp1 catering catering blank2 phone     phone     phone     phone    blank3 blank3 blank3"
            "sp1 sp1 sp1 hollis   hollis   blank2   orders    orders    orders    orders   blank3 blank3 blank3";

        @include max-width-mixin(900px) {
            grid-template-areas:
                "sp1 cookin	logo	blank"
                "sp1 cookin	logo	blank"
                "sp1 cookin	logo	blank"
                "sp1 catering	catering	catering"
                "sp1 hollis	hollis	hollis"
                "sp1 delicious	delicious	delicious"
                "sp1 price	price	price	"
                "sp1 pickup	pickup	pickup		"
                "sp1 phone	phone	phone		"
                "sp1 orders	orders	orders		";

            justify-content: center;
            justify-self: center;
        }
        @include max-width-mixin(900px) {
            grid-template-areas:
                "sp1 cookin	logo	"
                "sp1 cookin	logo	"
                "sp1 cookin	logo	"
                "sp1 catering	catering	"
                "sp1 hollis	hollis	"
                "sp1 delicious	delicious"
                "sp1 price	price		"
                "sp1 pickup	pickup			"
                "sp1 phone	phone			"
                "sp1 orders	orders			";

            justify-content: center;
            justify-self: center;
        }
        @include max-width-mixin(500px) {
            grid-template-areas:
                "sp1 cookin	logo	blank"
                "sp1 cookin	logo	blank"
                "sp1 cookin	logo	blank"
                "sp1 catering	catering	catering"
                "sp1 hollis	hollis	hollis"
                "sp1 delicious	delicious	delicious"
                "sp1 price	price	price	"
                "sp1 pickup	pickup	pickup		"
                "sp1 phone	phone	phone		"
                "sp1 orders	orders	orders		";

            justify-content: center;
            justify-self: center;
        }

        .box {
            outline: 3px solid red;
        }

        .sp1 {
            grid-area: sp1;

            width: 100px;
            @include max-width-mixin(950px) {
                width: 50px;
            }
            @include max-width-mixin(600px) {
                width: 50px;
            }
            @include max-width-mixin(400px) {
                width: 25px;
            }
        }

        .blank3 {
            width: 100px;
            @include max-width-mixin(1200px) {
                width: 50px;
            }
            @include max-width-mixin(1050px) {
                width: 25px;
            }
        }
        .blank4 {
            width: 50%;
            height: 50px;
        }

        .blank,
        .blank2 {
            width: 0px;
        }

        .cookin {
            // outline: 3px solid red;
            grid-area: cookin;

            // padding: 25px;
            // padding-right: 25px;
            text-align: left;
            font: normal normal normal 62px/63px Blenda Script;
            letter-spacing: 0px;
            line-height: 1;
            color: #f23816;
            color: #020100;
            opacity: 1;
            align-self: end;
            justify-self: start;
            padding-left: 0;
            position: relative;
            width: 200px;

            @include max-width-mixin(1150px) {
                font-size: 55px;
            }
            @include max-width-mixin(500px) {
                font-size: 35px;
            }
            @include max-width-mixin(500px) {
                width: 70%;
            }
        }

        .logo {
            // outline: 5px solid blue;
            grid-area: logo;

            margin-top: 34px;
            align-self: end;
            // width: 200px;
            min-width: 100px;
            padding-right: 150px;

            @include max-width-mixin(1000px) {
                width: 180px;
            }
            @include max-width-mixin(900px) {
                // width: 50%;
                padding-right: 300px;
            }
            @include max-width-mixin(800px) {
                padding-right: 150px;
            }
            @include max-width-mixin(600px) {
                padding-right: 100px;
            }
            @include max-width-mixin(500px) {
                width: 150px;
                padding-right: 0;
            }
        }

        .leftspace {
            // outline: 3px solid red;
            grid-area: leftspace;

            width: 300px;
            // align-self: flex-end;
        }

        .catering {
            // outline: 3px solid red;
            grid-area: catering;

            // display: flex;
            // width: 90%;
            // width: 526px;
            text-align: left;
            font: normal normal normal 82px/79px Blenda Script;
            letter-spacing: 0px;
            color: #f23816;
            color: #020100;
            opacity: 1;
            @include max-width-mixin(1150px) {
                font-size: 75px;
            }
            @include max-width-mixin(1000px) {
                // font-size: 50px;
                width: 80%;
            }
            @include max-width-mixin(500px) {
                font-size: 45px;
            }
        }

        .hollis {
            // outline: 3px solid red;
            grid-area: hollis;

            align-self: end;
            display: flex;
            align-self: flex-end;
            text-align: left;
            font: normal normal normal 15px/41px "BioRhyme Expanded";
            letter-spacing: 0px;
            color: #020100;
            opacity: 1;
            padding-top: 25px;
            @include max-width-mixin(900px) {
                margin-bottom: 25px;
                width: 80%;
                line-height: 1.5;
                // padding-top: 10px;
            }
        }

        .delicious {
            grid-area: delicious;

            width: 60%;
            display: flex;
            text-align: center;
            align-self: end;
            justify-self: center;
            font: normal normal normal 18px/35px "BioRhyme Expanded";
            letter-spacing: 0px;
            color: #020100;
            opacity: 1;
            line-height: 1.8;
            @include max-width-mixin(1150px) {
                font-size: 16px;
                width: 80%;
            }
            @include max-width-mixin(900px) {
                justify-self: flex-start;
                text-align: left;
                line-height: 1.5;
            }
        }

        .orders {
            grid-area: orders;

            margin-top: -10px;
            align-self: end;
            display: flex;
            justify-self: center;
            align-self: flex-start;
            text-align: center;
            font: normal normal normal 15px/22px BioRhyme Expanded;
            letter-spacing: 0px;
            color: #020100;
            opacity: 1;
            padding-top: 25px;

            @include max-width-mixin(1150px) {
                font-size: 14px;
            }
            @include max-width-mixin(900px) {
                justify-self: flex-start;
                text-align: left;
                padding-top: 10px;
            }
            @include max-width-mixin(400px) {
                width: 80%;
            }
        }

        .price {
            // outline: 3px solid red;
            grid-area: price;

            width: 80%;
            height: 100px;
            @include min-width-mixin(900px) {
                margin: 0 auto;
            }
            margin-top: 10px;
            position: relative;
            align-items: center;
            // padding-top: 25px;

            display: flex;
            justify-content: center;
            @include max-width-mixin(900px) {
                justify-content: flex-start;
                margin-bottom: 0px;
                margin-top: 0;
                width: 80%;
            }

            .only {
                align-items: center;
                text-align: left;
                font: normal normal bold 63px/59px Times New Roman;
                letter-spacing: 0px;
                color: #f23816;
                color: #020100;
                opacity: 1;
                @include max-width-mixin(1150px) {
                    font-size: 50px;
                }
                @include max-width-mixin(900px) {
                }
            }
            .dollars {
                text-align: left;
                font: normal normal bold 67px/57px Times New Roman;
                letter-spacing: 0px;
                color: #f23816;
                color: #020100;
                opacity: 1;
                @include max-width-mixin(1150px) {
                    font-size: 50px;
                }
            }
            .cents {
                text-align: left;
                font: normal normal bold 44px/61px Times New Roman;
                letter-spacing: 0px;
                color: #f23816;
                color: #020100;
                text-transform: lowercase;
                opacity: 1;
                position: relative;
                top: -12px;
                left: -5px;
                @include max-width-mixin(1150px) {
                    font-size: 30px;
                    top: -14px;
                }
            }
            .asteric {
                text-align: left;
                font: normal normal bold 35px/62px Times New Roman;
                letter-spacing: 0px;
                color: #f23816;
                color: #020100;
                text-transform: lowercase;
                opacity: 1;
                position: relative;
                top: -15px;
                left: -5px;
                @include max-width-mixin(1150px) {
                    font-size: 25px;
                    top: -17px;
                }
            }
        }

        .phone-number {
            grid-area: phone;

            text-align: center;
            display: flex;
            justify-self: center;
            align-self: center;
            font: normal normal bold 54px/49px Times New Roman;
            letter-spacing: 0px;
            color: #f23816;
            color: #020100;
            opacity: 1;
            // margin-top: 20px;
            // margin-bottom: 10px;
            a {
                text-decoration: none;
                color: #f23816;
                color: #020100;
            }

            @include max-width-mixin(1150px) {
                font-size: 43px;
                top: -10px;
            }
            @include max-width-mixin(900px) {
                justify-self: flex-start;
                margin-bottom: 15px;
            }
        }

        .pickup {
            grid-area: pickup;

            width: 80%;
            display: flex;
            justify-self: center;
            align-items: center;
            text-align: center;
            font: normal normal normal 18px/22px "BioRhyme Expanded";
            letter-spacing: 0px;
            color: #020100;
            opacity: 1;
            line-height: 1.8;
            @include max-width-mixin(1050px) {
                width: 80%;
                font-size: 16px;
            }
            @include max-width-mixin(900px) {
                // width: 80%;
                justify-self: flex-start;
                text-align: left;
                margin-bottom: 15px;
                line-height: 1.8;
            }
        }
    }

    .menu-section {
        // outline: 3px solid red;
        background-image: url("../images/blackboard2.jpg");
        opacity: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: auto; //2200px;
        width: 100%;
        margin: 0 auto;
        // display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 30px;

        .menu-header {
            // outline: 3px solid red;
            // height: 76px;
            width: 84%;
            text-align: left;
            font: normal normal normal 60px/60px cursive;
            letter-spacing: 0px;
            color: #ffffff;
            text-transform: uppercase;
            opacity: 1;
            margin: 0 auto;
            // margin-top: 124px;
            // margin-bottom: 50px;

            // width: 178px;
            // height: 63px;
            // text-align: left;
            margin: 0 auto;
            // width: 100%;
            font: normal normal normal 62px/60px CHAWP;
            font-family: CHAWP, cursive;
            letter-spacing: 0.62px;
            color: #ffffff;
            text-transform: uppercase;
            opacity: 1;
            // margin-top: 100px;
            display: flex;
            @include max-width-mixin(800px) {
                flex-direction: column;
                align-items: center;
                margin-top: 0;
                margin-bottom: 50px;
            }
            justify-content: space-between;
            position: relative;

            p {
                // outline: 3px solid red;
                display: flex;
                align-items: flex-end;
            }

            img {
                // outline: 3px solid red;
                // width: 504px;
                // height: 398px;
                width: 60%;
                box-shadow: 0px 15px 18px #00000099;
                border: 12px solid #ffffff;
                transform: matrix(0.99, -0.12, 0.12, 0.99, 0, 0);
                position: relative;
                top: 20px;
                left: 0px;
                margin-left: 100px;
                @include max-width-mixin(800px) {
                    // display: none;
                    top: 0;
                    width: 80%;
                }
            }

            .shredded-container {
                outline: 3px solid red;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: relative;
                left: -25px;
                top: -10px;

                .shredded {
                    text-transform: none;
                    text-align: left;
                    font: normal normal normal 27px/30px Itim;
                    letter-spacing: 0px;
                    color: #ffffff;
                    opacity: 1;
                }
            }

            margin-bottom: 20px;
        }

        .menu-item {
            // outline: 3px solid red;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 50px;
            // margin-left: 12%; // 146px;
            width: 84%;
            @include max-width-mixin(900px) {
                width: 90%;
            }

            .day-header {
                // outline: 3px solid blue;
                text-align: left;
                font: normal normal normal 43px/60px Itim;
                letter-spacing: 0px;
                color: #ffffff;
                // text-transform: lowercase;
                opacity: 1;

                // display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                @include max-width-mixin(700px) {
                    font-size: 30px;
                    line-height: 1;
                }
                @include max-width-mixin(700px) {
                    // font-size: 30px;
                    line-height: 0.9;
                }

                @include max-width-mixin(500px) {
                    font-size: 25px;
                    line-height: 0.8;
                }
                @include max-width-mixin(350px) {
                    font-size: 20px;
                }
            }
            // #monday {
            //     background: #169f8f 0% 0% no-repeat padding-box;
            // }
            // #tuesday {
            //     background: #f23816 0% 0% no-repeat padding-box;
            // }
            // #wednesday {
            //     background: #169f8f 0% 0% no-repeat padding-box;
            // }
            // #thursday {
            //     background: #f23816 0% 0% no-repeat padding-box;
            // }
            // #friday {
            //     background: #169f8f 0% 0% no-repeat padding-box;
            // }
            .meal-summary {
                // outline: 3px solid red;
                margin-top: 5px;
                text-align: left;
                font: normal normal normal 60px/60px CHAWP;
                letter-spacing: 0.62px;
                color: #ffffff;
                text-transform: uppercase;
                opacity: 1;
                padding-bottom: 10px;
                @include max-width-mixin(700px) {
                    font-size: 48px;
                    line-height: 1;
                }
                @include max-width-mixin(500px) {
                    font-size: 32px;
                    line-height: 1;
                    padding-bottom: 0px;
                }
                @include max-width-mixin(350px) {
                    font-size: 25px;
                }
            }

            .meal-content {
                // outline: 3px solid red;
                width: 100%; //950px;
                text-align: left;
                font: normal normal normal 43px/60px Itim;
                letter-spacing: 0px;
                color: #ffffff;
                text-transform: lowercase;
                opacity: 1;
                line-height: 1;
                @include max-width-mixin(700px) {
                    font-size: 30px;
                    line-height: 0.9;
                }
                @include max-width-mixin(350px) {
                    font-size: 20px;
                }
            }

            margin-bottom: 75px;
            @include max-width-mixin(500px) {
                margin-bottom: 50px;
            }
        }
    }
}

.footer {
    background: #ffffff 0% 0% no-repeat padding-box;
    padding-top: 36px;
    padding-bottom: 40px;
    height: auto;
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    min-width: 300px;

    .copy1 {
        // outline: 3px solid red;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        font: normal normal normal 20px/32px BioRhyme Expanded;
        letter-spacing: 0px;
        color: #f23816;
        // margin-bottom: 15px;
        padding-bottom: 20px;

        // width: 1174px;
        // height: 123px;
        // text-align: left;
        font: normal normal normal 19px/30px BioRhyme Expanded;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    .copy2 {
        // outline: 3px solid red;
        margin: 0 auto;
        width: 90%;
        text-align: center;
        font: normal normal normal 16px/28px BioRhyme Expanded;
        letter-spacing: 0px;
        color: #676462;
        opacity: 1;

        opacity: 1;
        font: normal normal normal 16px/27px BioRhyme Expanded;
        letter-spacing: 0px;
        color: #000000;
    }

    .phone-etc {
        // outline: 3px solid red;
        width: 50%;
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        @include max-width-mixin(800px) {
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            width: 100%;
            margin-top: 15px;
        }

        .footer-phone-number {
            // outline: 3px solid red;
            text-align: center;
            font: normal normal bold 54px/49px Times New Roman;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            text-decoration: none;
            @include max-width-mixin(800px) {
                width: 100%;
                padding: 0;
                margin: 0 auto;
                // width: 50%;
                align-self: center;
            }
        }
        .footer-images {
            display: flex;
            flex-direction: row;
            img {
                padding-left: 20px;
                @include max-width-mixin(800px) {
                    padding: 0;
                    margin: 0 auto;
                    margin-top: 20px;
                    width: 45%;
                }
            }
        }
    }

    .alchemy {
        // outline: 3px solid red;
        margin: 0 auto;
        width: 95%;
        height: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;

        p {
            text-align: left;
            font: normal normal normal 14px/49px Arial;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
        }
        img {
            background: #ffffff 0% 0% no-repeat padding-box;
            opacity: 1;
            height: 18px;
            width: 18px;
        }
    }
}
